.header_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: .1em black solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo_container_wrapper {
    flex:1 0;
    align-content: center;
    background-color: grey;
    padding: .4em;
}
.logo_container {
    justify-content: center;
    background-color:forestgreen;
    color: gainsboro;
    text-align: center;
    border-radius: 1.2em;
    font-size: 1.2em;
    font-weight: 700;
    padding: 1.2em 0;
}

.stock_msg_container_wrapper {
    flex:3 0;
    align-content: center;
    background-color: grey;
    padding: .4em;
}
.stock_msg_container {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    border: .1em black solid;
}
#stock_msg_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0em;
    font-size: .9em;
    font-weight: 600;
    border-bottom: .1em black solid;
}
#stock_msg {
    flex-basis:4.5em;
    align-content: center;
    background-color:lightskyblue;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
}

.sentiment_msg_container_wrapper {
    flex:3 0;
    align-content: center;
    background-color: grey;
    padding: .4em;
}
.sentiment_msg_container {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    border: .1em black solid;
}
#sentiment_msg_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0em;
    font-size: .9em;
    font-weight: 600;
    border-bottom: .1em black solid;
}
#sentiment_msg {
    flex-basis:4.5em;
    align-content: center;
    background-color:lightskyblue;
    text-align: center;
    font-size: 1.4em;
    font-weight: 400;
}

.stock_symbol_container_wrapper {
    flex:1 0;
    align-content: center;
    background-color: grey;
    padding: .4em;
}
.stock_symbol_container {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    border: .1em black solid;
}
#stock_symbol_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0em;
    font-size: .8em;
    font-weight: 500;
    border-bottom: .1em black solid;
}
#stock_symbol_div {
    display: flex;
    flex-basis:6.2em;
    align-items: center;
    justify-content: center;    
    background-color:azure;
    padding: 0 2.5em;
}
#stock_symbol_textbox {
    font-size: 2.5em;
    max-width: 5.8em;
    text-align: center;
    background-color:aliceblue;
}

.chart_wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.chart_top_controls_container_padding {
    flex: 1 0;
    background-color: rgb(242, 242, 242);
}
.chart_top_controls_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: lightblue;
    border-bottom: .1em black solid;
    border-top: .1em black solid;
}
.load_button_wrapper {
    display: flex;
    flex:1 0;
    justify-content: center;
    padding: 1em 0;
    border-right: .2em black solid;
    border-left: .2em black solid;
}
#load_button {
    background-color:rgb(87, 168, 87);
    font-size: 1.5em;
    padding: .5em 1.4em;
    box-shadow: .1em .1em .1em black;
    color: white;
}
#load_button:hover {
    color: black;
}

.chart_resolution_wrapper {
    display: flex;
    flex:1 0;
    flex-direction: column;
    flex-wrap: nowrap;
}
#chart_resolution_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0em;
    font-size: .9em;
    font-weight: 600;
    border-bottom: .1em black solid;
}
.chart_resolution_control_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1 0;
}

.chart_resolution_control_left_arrow_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content:flex-end;
}
#chart_resolution_control_left_arrow {
    flex:1 0;
    font-size: 2.5em;
    border-radius: .2em;
    max-width: 2em;
    box-shadow: .06em .06em .06em black;
    background-color: dodgerblue;
    color: white;
}
#chart_resolution_control_left_arrow:hover {
    color:black;
}
.chart_resolution_control_textbox_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content: center;
}
#chart_resolution_control_textbox {
    flex:4 0 4em;
    font-size: 2.5em;
    max-width: 5.8em;
    text-align: center;
    background-color:aliceblue;
}
.chart_resolution_control_right_arrow_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content: flex-start;
}
#chart_resolution_control_right_arrow {
    flex:1 0;
    font-size: 2.5em;
    border-radius: .2em;
    max-width: 2em;
    box-shadow: .06em .06em .06em black;
    background-color: dodgerblue;
    color: white;
}
#chart_resolution_control_right_arrow:hover {
    color:black;
}

.stop_button_wrapper {
    display: flex;
    flex:1 0;
    justify-content: center;
    padding: 1em 0;
    border-left: .2em black solid;
    border-right: .2em black solid;
}
#stop_button {
    background-color:crimson;
    font-size: 1.5em;
    padding: .5em 1.4em;
    box-shadow: .1em .1em .1em black;
    color: white;
}
#stop_button:hover {
    color: black;
}

.begin_datetime_container_wrapper {
    flex:1 0;
    align-content: center;
    background-color: grey;
}
.begin_datetime_container {
    display: flex; 
    flex-wrap: nowrap;
    flex-direction: column;
    border: .1em black solid;
}
#begin_datetime_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0;
    font-size: .8em;
    font-weight: 500;
    border-bottom: .1em black solid;
}
#begin_datetime_div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color:azure;
}
#begin_datetime_textbox {
    align-self: center;
    font-size: 1.5em;
    text-align: center;
    background-color:aliceblue;
    max-width: 80%;
}
#begin_datetime_format {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0;
    font-size: .8em;
    font-weight: 500;
    border-top: .1em black solid;
}

.graphs_wrapper {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-top: .2em rgb(115, 115, 115) solid;
    background-color: azure;
}
.price_graph_outer_div_container {
    flex: 1 0 35em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3em;
}
.price_graph_container {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #f4f4f4;
}
.volume_graph_outer_div_container {
    flex: 1 0 35em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3em;
    margin-top: -.5em;
}
.volume_graph_container {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #f4f4f4;
}
.sentiment_graph_outer_div_container {
    flex: 1 0 35em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: .3em;
    margin-top: -.5em;
}
.sentiment_graph_container {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #f4f4f4;
}
.xaxis_outer_div_container {
    flex: 1 0 10em;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: .3em;
    margin-top: -1em;
}
#xaxis_label {
    background-color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 4em;
    min-width: 4.5em;
}
#xaxis_label_pad_right {
    min-width: 5.5em;
}
.xaxis_container {
    flex: 0 1;
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-color: #f4f4f4;
}

/* begin graphs */
#price_label {
    background-color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 4em;
    min-width: 4.5em;
}
.price_yaxis_label {
    background-color: #f4f4f4;
    margin-right: -1.8em;
}
.price_graph_div {
    /* text-align: center; */
    /* background-color: #e6e6e6; */
}
#volume_label {
    background-color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 4em;
    min-width: 4.5em;
}
.volume_yaxis_label {
    background-color: #f4f4f4;
    margin-right: -1.8em;
}
.volume_graph_div {
    /* display:inline-block;
    margin-left: -30px; */
}
#sentiment_label {
    background-color: azure;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 4em;
    min-width: 4.5em;
}
.sentiment_graph_div {
    /* text-align: center; */
}
.sentiment_yaxis_label {
    background-color: #f4f4f4;
    margin-right: -1.8em;
}
/* end graphs */
/* begin bottom controls */
.chart_bottom_controls_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-top: .1em black solid;
    border-bottom: .1em black solid;
}
.chart_bottom_controls_container_padding {
    flex: 2 0;
    background-color: rgb(242, 242, 242);
}
.sentiment_refresh_button_container {
    display: flex;
    flex: 1 0 6em;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color:burlywood;
    border-left: .2em black solid;
    border-right: .2em black solid;
}
#sentiment_refresh_button_label {
    background-color:lightgray;
    text-align: center;
    padding:.2em 0em;
    font-size: .9em;
    font-weight: 600;
    border-bottom: .1em black solid;
}
.sentiment_refresh_button_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 1em 0;
    background-color:lightblue;
}
#sentiment_refresh_button {
    background-color:rgb(87, 168, 87);
    font-size: 1.5em;
    padding: .5em 1.4em;
    box-shadow: .1em .1em .1em black;
    color: white;
}
#sentiment_refresh_button:hover {
    color: black;
}
.sentiment_time_adjust_wrapper {
    display: flex;
    flex:1 0 8em;
    flex-direction: column;
    flex-wrap: nowrap;
    border-right: .2em black solid;
}
#sentiment_time_adjust_label {
    background-color:lightgrey;
    text-align: center;
    padding:.2em 0em;
    font-size: .9em;
    font-weight: 600;
    border-bottom: .1em black solid;
}
.sentiment_time_adjust_control_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex:1 0;
    padding: .6em 0;
    background-color:azure;
}

.sentiment_time_adjust_control_left_arrow_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content:flex-end;
}
#sentiment_time_adjust_control_left_arrow {
    flex:1 0;
    font-size: 2.5em;
    border-radius: .2em;
    max-width: 2em;
    box-shadow: .06em .06em .06em black;
    background-color: dodgerblue;
    color: white;
}
#sentiment_time_adjust_control_left_arrow:hover {
    color:black;
}
.sentiment_time_adjust_control_textbox_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content: center;
}
#sentiment_time_adjust_control_textbox {
    flex:4 0 4em;
    font-size: 2.5em;
    max-width: 5.8em;
    text-align: center;
    background-color:aliceblue;
}
.sentiment_time_adjust_control_right_arrow_container {
    display: flex;
    flex:1 0;
    background-color:azure;
    padding: .2em;
    justify-content: flex-start;
}
#sentiment_time_adjust_control_right_arrow {
    flex:1 0;
    font-size: 2.5em;
    border-radius: .2em;
    max-width: 2em;
    box-shadow: .06em .06em .06em black;
    background-color: dodgerblue;
    color: white;
}
#sentiment_time_adjust_control_right_arrow:hover {
    color:black;
}
/* end bottom controls */
.footer {
    min-height: 38em;
}