<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Chart PyWebApp</title>
    <link rel="stylesheet" href="/static/welcome.css" /> 
</head>
<body>
    <div class="header_wrapper">
        <div class="logo_container_wrapper">
            <div class="logo_container">
                <div id="logo">
                    INF891<br />
                    STOCK CHART<br />PyWebApp
                </div>
            </div>
        </div>
        <div class="stock_msg_container_wrapper">
            <div class="stock_msg_container">
                <div id="stock_msg_label">
                    Stock Data Source
                </div>
                <div id="stock_msg">
                    Connected: US Markets are OPEN
                </div>
            </div>
        </div>
        <div class="sentiment_msg_container_wrapper">
            <div class="sentiment_msg_container">
                <div id="sentiment_msg_label">
                    AI ML Sentiment Data Source
                </div>
                <div id="sentiment_msg">
                    Connected: AI ML Sentiment data is available
                </div>
            </div>
        </div>
        <div class="stock_symbol_container_wrapper">
            <div class="stock_symbol_container">
                <div id="stock_symbol_label">
                    US Stock Symbol
                </div>
                <div id=stock_symbol_div>
                    <input id=stock_symbol_textbox type="text" />
                </div>
            </div>
        </div>
    </div>
    <div class="chart_wrapper">
        <div class="chart_top_controls_container">
            <div class="chart_top_controls_container_padding"></div>
            <div class="load_button_wrapper">
                <input id="load_button" type="button" value="Load"/>
            </div>
            <div class="chart_resolution_wrapper">
                <div id="chart_resolution_label">
                    Chart Resolution
                </div>
                <div class="chart_resolution_control_wrapper">
                    <div class="chart_resolution_control_left_arrow_container">
                        <input id="chart_resolution_control_left_arrow" type="button" value="&#8678;"/>
                    </div>
                    <div class="chart_resolution_control_textbox_container">
                        <input id=chart_resolution_control_textbox type="text" readonly="readonly" value=""/>
                    </div>
                    <div class="chart_resolution_control_right_arrow_container">
                        <input id="chart_resolution_control_right_arrow" type="button" value="&#8680;"/>
                    </div>
                </div>
            </div>
            <div class="stop_button_wrapper">
                <input id="stop_button" type="button" value="Stop"/>
            </div>
            <div class="chart_top_controls_container_padding"></div>
        </div>
        <div class="graphs_wrapper">
            <div class="price_graph_outer_div_container">
                <div class="price_graph_container">
                    <div id="price_label"></div>
                    <div class="price_yaxis_label"></div>
                    <div class="price_graph_div"></div>
                </div>
            </div>
            <div class="volume_graph_outer_div_container">
                <div class="volume_graph_container">
                    <div id="volume_label"></div>
                    <div class="volume_yaxis_label"></div>
                    <div class="volume_graph_div"></div>
                </div>
            </div>
            <div class="sentiment_graph_outer_div_container">
                <div class="sentiment_graph_container">
                    <div id="sentiment_label"></div>
                    <div class="sentiment_yaxis_label"></div>
                    <div class="sentiment_graph_div"></div>
                </div>
            </div>
            <div class="xaxis_outer_div_container">
                <div class="xaxis_container">
                    <div class="xaxis_graph_div"></div>
                </div>
            </div>
        </div>
        <div class="chart_bottom_controls_container"></div>

        </div>
    </div>
    <script src="/static/welcome.js" charset="utf-8"></script>
</body>
</html>